<footer class="ct-footer">
    <section class="ct-postFooter">
        <div class="container ct-containerFix">
            <div class="row">
                <div class="ct-u-displayTableVertical">
                    <div class="ct-u-displayTableCell ct-footerCol1">
                        <p class="ct-copyright">Licorería Bogotá Centro | &copy; 2021</p>
                    </div>

                    {{ include('base/menu_footer.html.twig') }}

                    <div class="ct-u-displayTableCell ct-footerCol3 text-right">
                        <p class="ct-authorPage"><span>Design by<a href="http://www.mardan.work/">&nbsp; MARDAN SAS </a></span></p>
                        <p class="ct-copyright ct-displayHide">Licorería Bogotá Centro | &copy; 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>