<div class="ct-bookTable ct-bookTable--border">
    <div class="ct-bookTable-form">

        <div class="" align="right">
            <h6 class="ct-headerBottom">Licorería Bogotá Centro</h6>
            <ul class="list-unstyled ct-contactList">
                Matricula CC: 03354035
                <br />
                <li>Comercio autorizado:<br/> venta de bebidas alcohólicas y tabaco </li>
                <br />
                <li><b>Distribuimos Licores Originales</b> </li>
                <li>El exceso de alcohol es perjudicial para la salud.
                    <br />
                    Ley 30 de 1986.
                    <br />
                    Prohíbase el expendio de bebidas embriagantes a menores de edad.
                    <br />
                    Ley 124 de 1994. </li>
                <br />
                <li>Teléfonos:<br/>&nbsp;+57 3245442226 <br /> &nbsp; +57 3224550378</li>
            </ul>
        </div>

    </div>
</div><a href="#" data-padding-left="32" data-padding-right="32" class="btn btn-primary btn-border btn-xs ct-js-bookBtn ct-bookBtn ct-js-btnSize">Información Legal</a>
