<div class="ct-button">
    <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
</div>
<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar list-unstyled">
        <li class="onepage"><a href="{{ path('index') }}" class="ct-js-btnScroll">Inicio</a></li>
        <li class="onepage"><a href="{{ path('correo') }}" class="ct-js-btnScroll">Correo de la Noche</a></li>
        <li class="onepage"><a href="{{ path('lista') }}" class="ct-js-btnScroll">Lista</a></li>
        <li class="onepage"><a href="#" class="ct-js-btnScroll">Social</a></li>
        <li class="onepage"><a href="#" class="ct-js-btnScroll">Contacto</a></li>
    </ul>
</div>