<nav class="navbar navbar-default ct-centeredMenu ct-menu--color navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav ct-leftSide ct-navbar--fadeIn">
            <li class="onepage"><a href="{{ path('index') }}" class="ct-js-btnScroll">Inicio</a></li>
            <li class="onepage"><a href="{{ path('correo') }}" class="ct-js-btnScroll">Correo de la Noche</a></li>

        </ul>
        <div class="navbar-header"><a href="#" class="navbar-brand"><img src="{{ asset('assets/fix/logoZ.png') }}" alt="Image"></a></div>
        <ul class="nav navbar-nav ct-rightSide">
            <li class="onepage"><a href="{{ path('lista') }}" class="ct-js-btnScroll">Lista</a></li>
            <li class="onepage"><a href="#" class="ct-js-btnScroll">Social</a></li>
            <li class="onepage"><a href="#" class="ct-js-btnScroll">Contacto</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</nav>