<section id="home" class="ct-sliderSection onepager">
    <div data-items="1" data-height="100%" class="ct-mainSlider ct-js-slick ct-slick ct-js-slick ct-slick--table">
        <div data-background="{{ asset('assets/fix/slide1.jpg') }}" class="item _image-overlay">
            <div class="item-inner text-center">
                {#
                <div class="ct-u-displayTableVertical">
                    <div class="ct-u-displayTableCell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12"><a href="#"><img src="{{ asset('assets/images/content/booze/big-intro.png') }}" alt="Image"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                #}
            </div>
        </div>
    </div>
</section>