<section id="intro" class="ct-introSection ct-u-backgroundColorDark text-center">
    <header class="ct-bigHeader">Licorería Bogotá</header>
    <p>Correo de la Noche ☽!</p><a href="{{ path('pagos') }}" data-padding-left="30" data-padding-right="30" class="btn btn-primary btn-border btn-sm ct-js-btnSize ct-js-btnScroll">➠ Métodos de pago </a>
</section>