{% extends 'base.html.twig' %}

{% block body %}

    <!--Main Slider Sections//-->
    {{ include('base/index/section_slider.html.twig') }}

    <!--Information Sections-->
    {{ include('base/index/section_information.html.twig') }}

    <!-- inicio contenido -->

    </div><a href="#" data-padding-left="32" data-padding-right="32" class="btn btn-primary btn-border btn-xs ct-js-bookBtn ct-bookBtn ct-js-btnSize">book a table</a>

    <!-- fin contenido -->



    <!--footer -->
    {{ include('base/footer.html.twig') }}

{% endblock %}


{% block js  %}
    {{ parent() }}

{% endblock %}

