{% extends 'base.html.twig' %}

{% block body %}

    <section class="ct-contactSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <br/><br/><br /><br />
                    <header class="ct-bigHeader">Hola Lista</header>
                    <span class="ct-smallHeader">Domicilio rápido y seguro en toda la Ciudad</span>

                </div>
            </div>
        </div>
    </section>




{% endblock %}


{% block js  %}
    {{ parent() }}

{% endblock %}