<section class="ct-contactSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <br/><br/><br /><br />
                <header class="ct-bigHeader">Licorería Bogotá</header>
                <span class="ct-smallHeader">
                        El exceso de alcohol es perjudicial para la salud. Ley 30 de 1986. <br />
                        Prohíbase el expendio de bebidas embriagantes a menores de edad. Ley 124 de 1994.
                    </span>
                <br />
                <br />
                <div class="ct-bredcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('correo') }}">Correo de la Noche</a></li>
                        <li class="active">Lista&nbsp&nbsp&nbsp&nbsp</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
</section>