<section class="ct-contactSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <br/><br/><br /><br />
                <header class="ct-bigHeader">Licorería Bogotá</header>
                <span class="ct-smallHeader">
                <b>Métodos De Pago </b>
                </span>
                <br />
                <br />
                <div class="ct-bredcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('correo') }}">Licorería Bogotá</a></li>
                        <li class="active">Pagos&nbsp&nbsp&nbsp&nbsp</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
</section>